
.story-dp{    
    height: 90px;
    border: 3px solid black;
}

.navbar-ins{
    display: none;
}

.gradient-border{
    height: 95px;
    width: 95px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}

.stories-container {
  width: 100%;
  overflow: hidden;
}

.stories-scroll {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 5px;
  white-space: nowrap;
  scroll-behavior: smooth;
}


.stories-scroll::-webkit-scrollbar {
  height: 0;
}

.story-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width:1024px) {
    .stories-container{
        width: 100%;
        margin-left: 3%;
    }

    .navbar-ins{
        display: block;
    }
}


