.story-img{

    object-fit: cover;
    border-radius: 10px;
    position: relative;
    height: 100vh;
    width: 30vw;
  
}

.story-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.story-header {
  position: absolute;
  top: 20px;
  left: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
  border-radius: 30px;
  z-index: 10;
}



.story-header-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
}

.story-header-name {
  color: white;
  font-size: 17px;
  font-weight: 600;
}





@media screen and (max-width:1024px) {
    .story-img{
        width: 50vw;
        object-fit: cover;
        border-radius: 10px;
    }
    
}

@media screen and (max-width:786px) {
    .story-img{
        width: 70vw;
        object-fit: cover;
        border-radius: 10px;
        padding: 0% !important;
    }
    
}