.Footer{
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0%;
    border-top: 1px solid black;
    background-color: rgb(215, 214, 214);
}




@media screen and (max-width:1024px) {
    .Footer{
        display: flex !important;
    }
}