.Footer{
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0%;
}


@media screen and (max-width:1024px) {
    .Footer{
        display: flex !important;
    }
}